*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    height: 100vh;

}

.containerizq {
    border: solid rgb(174, 173, 173) 1px;
    width: 30%;
    display:flex;
    flex-direction: column;
}



.boton {
    border: solid rgb(174, 173, 173) 1px;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton button {
    padding: 20px 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(188, 136, 196);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.boton button:hover {
    background-color: rgb(142, 61, 155);
    color: aliceblue;
}

.contactos {
    border: solid rgb(174, 173, 173) 1px;
    height: 70vh;
    overflow-y: scroll;
}

.barra_perfil img {
    margin-right: 80px;
}

.barra_perfil_info {
    padding: 0px 10px;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.barra_perfil_activo {
    padding: 0px 10px;
    color: rgb(105, 102, 102);
    font-size: 10px;
}
.barra {
    border: solid rgb(174, 173, 173) 1px;
    height: 16 vh;
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}

.barra_perfil {
    display: flex;
    width: 20%;
    height: 80px;
    
}

.barra_icono {
    display: flex;
    width: auto;
    justify-content:space-between;
    align-content: center;
    padding: 5px;
}

.barra_icono i {
    padding: 2px;
    width: 20% ;
}

.contactocard {
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.75);
    justify-content: flex-start;
    padding: 10px;
}

.contactocard img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.contactocard_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactocard_info_estado {
    color: rgb(105, 102, 102);
    font-size: 10px;
}

.imagen_logo{
    display: flex;
    justify-content: center;
    align-content: space-around;
    height: 200px;
}


.containerder {
    border: solid rgb(174, 173, 173);
    width: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.texto_networking{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.texto_presiona{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding-top: 4em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.texto_presiona2{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}